body {
  background: black;
}
/* colors */
.light {
  color: white;
}

.medium {
  color: #cbcbcb;
}

.dark {
  color: #949494
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.logo-text {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  border: 2px solid white;
}

.top-nav-link {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
}

.page-one-box {
  display: flex;
  margin-top: 22.5vh;
  justify-content: space-evenly;
  align-items: center;
}

.page-one-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.hello-text {
  font-size: 3vw;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.name-text {
  margin-top: -15px;
  font-size: 4vw;
  font-family: 'Prata';
  text-align: center;
}

.job-text {
  margin-top: -3vw;
  font-size: 3vw;
  font-family: 'Josefin Sans' sans-serif;
  font-weight: 100;
  text-align: center;
}

.work-together-box {
  border: 2px solid #949494;
}

.work-text {
  padding-left: 2vw;
  padding-right: 2vw;
}

.profile-pic {
  height: 25vw;
  width: 25vw;
}

