body {
  background: black;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.logo-text {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  border: 2px solid white;
}

.top-nav-link {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
}